In [94]:
"""
THEORY	Start	08:00	09:00	10:00	11:00	12:00	-	Lunch	14:00	15:00	16:00	17:00	18:00	18:51	19:01
End	08:50	09:50	10:50	11:50	12:50	-	Lunch	14:50	15:50	16:50	17:50	18:50	19:00	19:50
LAB	Start	08:00	08:51	09:51	10:41	11:40	12:31	Lunch	14:00	14:51	15:51	16:41	17:40	18:31	-
End	08:50	09:40	10:40	11:30	12:30	13:20	Lunch	14:50	15:40	16:40	17:30	18:30	19:20	-
MON	THEORY	A1	F1	D1-STS3201-SS-SJT305-ALL	TB1	TG1	-	Lunch	A2-CSE1006-TH-SJT603-ALL	F2-CSE3501-ETH-SJT522-ALL	D2-CSE2006-ETH-SJT424-ALL	TB2	TG2	-	V3
LAB	L1	L2	L3	L4	L5-CSE3501-ELA-SJT418-ALL	L6-CSE3501-ELA-SJT418-ALL	Lunch	L31	L32	L33	L34	L35	L36	-
TUE	THEORY	B1	G1	E1-FRE1001-TH-SJT702-ALL	TC1	TAA1	-	Lunch	B2-CSE3001-ETH-SJT311-ALL	G2	E2-CSE3013-ETH-SJT627-ALL	TC2	TAA2	-	V4
LAB	L7-CSE3002-ELA-SJT516-ALL	L8-CSE3002-ELA-SJT516-ALL	L9	L10	L11	L12	Lunch	L37	L38	L39	L40	L41	L42	-
WED	THEORY	C1	A1	F1	V1	V2	-	Lunch	C2-CSE3002-ETH-SJT422-ALL	A2-CSE1006-TH-SJT603-ALL	F2-CSE3501-ETH-SJT522-ALL	TD2	TBB2	-	V5
LAB	L13-CSE3001-ELA-SJT417-ALL	L14-CSE3001-ELA-SJT417-ALL	L15	L16	L17	L18	Lunch	L43	L44	L45	L46	L47	L48	-
THU	THEORY	D1-STS3201-SS-SJT305-ALL	B1	G1	TE1	TCC1	-	Lunch	D2-CSE2006-ETH-SJT424-ALL	B2-CSE3001-ETH-SJT311-ALL	G2	TE2-CSE3013-ETH-SJT627-ALL	TCC2	-	V6
LAB	L19	L20	L21-CSE2006-ELA-SJT515-ALL	L22-CSE2006-ELA-SJT515-ALL	L23	L24	Lunch	L49	L50	L51	L52	L53	L54	-
FRI	THEORY	E1-FRE1001-TH-SJT702-ALL	C1	TA1	TF1	TD1-STS3201-SS-SJT305-ALL	-	Lunch	E2-CSE3013-ETH-SJT627-ALL	C2-CSE3002-ETH-SJT422-ALL	TA2-CSE1006-TH-SJT603-ALL	TF2	TDD2	-	V7
LAB	L25	L26	L27	L28	L29	L30	Lunch	L55	L56	L57	L58	L59	L60	-
SAT	THEORY	V8	X11	X12	Y11	Y12	-	Lunch	X21	Z21	Y21	W21	W22	-	V9
LAB	L71	L72	L73	L74	L75	L76	Lunch	L77	L78	L79	L80	L81	L82	-
SUN	THEORY	V10	Y11	Y12	X11	X12	-	Lunch	Y21	Z21	X21	W21	W22	-	V11
LAB	L83	L84	L85	L86	L87	L88	Lunch	L89	L90	L91	L92	L93	L94	-
"""

'\nTHEORY\tStart\t08:00\t09:00\t10:00\t11:00\t12:00\t-\tLunch\t14:00\t15:00\t16:00\t17:00\t18:00\t18:51\t19:01\nEnd\t08:50\t09:50\t10:50\t11:50\t12:50\t-\tLunch\t14:50\t15:50\t16:50\t17:50\t18:50\t19:00\t19:50\nLAB\tStart\t08:00\t08:51\t09:51\t10:41\t11:40\t12:31\tLunch\t14:00\t14:51\t15:51\t16:41\t17:40\t18:31\t-\nEnd\t08:50\t09:40\t10:40\t11:30\t12:30\t13:20\tLunch\t14:50\t15:40\t16:40\t17:30\t18:30\t19:20\t-\nMON\tTHEORY\tA1\tF1\tD1-STS3201-SS-SJT305-ALL\tTB1\tTG1\t-\tLunch\tA2-CSE1006-TH-SJT603-ALL\tF2-CSE3501-ETH-SJT522-ALL\tD2-CSE2006-ETH-SJT424-ALL\tTB2\tTG2\t-\tV3\nLAB\tL1\tL2\tL3\tL4\tL5-CSE3501-ELA-SJT418-ALL\tL6-CSE3501-ELA-SJT418-ALL\tLunch\tL31\tL32\tL33\tL34\tL35\tL36\t-\nTUE\tTHEORY\tB1\tG1\tE1-FRE1001-TH-SJT702-ALL\tTC1\tTAA1\t-\tLunch\tB2-CSE3001-ETH-SJT311-ALL\tG2\tE2-CSE3013-ETH-SJT627-ALL\tTC2\tTAA2\t-\tV4\nLAB\tL7-CSE3002-ELA-SJT516-ALL\tL8-CSE3002-ELA-SJT516-ALL\tL9\tL10\tL11\tL12\tLunch\tL37\tL38\tL39\tL40\tL41\tL42\t-\nWED\tTHEORY\tC1\tA1\tF1\tV1\tV2\t-\tLunch\tC2-CSE3002-ETH-SJT422-ALL\tA2-CSE1006-TH-SJT603-ALL\tF2-CSE3501-ETH-SJT522-ALL\tTD2\tTBB2\t-\tV5\nLAB\tL13-CSE3001-ELA-SJT417-ALL\tL14-CSE3001-ELA-SJT417-ALL\tL15\tL16\tL17\tL18\tLunch\tL43\tL44\tL45\tL46\tL47\tL48\t-\nTHU\tTHEORY\tD1-STS3201-SS-SJT305-ALL\tB1\tG1\tTE1\tTCC1\t-\tLunch\tD2-CSE2006-ETH-SJT424-ALL\tB2-CSE3001-ETH-SJT311-ALL\tG2\tTE2-CSE3013-ETH-SJT627-ALL\tTCC2\t-\tV6\nLAB\tL19\tL20\tL21-CSE2006-ELA-SJT515-ALL\tL22-CSE2006-ELA-SJT515-ALL\tL23\tL24\tLunch\tL49\tL50\tL51\tL52\tL53\tL54\t-\nFRI\tTHEORY\tE1-FRE1001-TH-SJT702-ALL\tC1\tTA1\tTF1\tTD1-STS3201-SS-SJT305-ALL\t-\tLunch\tE2-CSE3013-ETH-SJT627-ALL\tC2-CSE3002-ETH-SJT422-ALL\tTA2-CSE1006-TH-SJT603-ALL\tTF2\tTDD2\t-\tV7\nLAB\tL25\tL26\tL27\tL28\tL29\tL30\tLunch\tL55\tL56\tL57\tL58\tL59\tL60\t-\nSAT\tTHEORY\tV8\tX11\tX12\tY11\tY12\t-\tLunch\tX21\tZ21\tY21\tW21\tW22\t-\tV9\nLAB\tL71\tL72\tL73\tL74\tL75\tL76\tLunch\tL77\tL78\tL79\tL80\tL81\tL82\t-\nSUN\tTHEORY\tV10\tY11\tY12\tX11\tX12\t-\tLunch\tY21\tZ21\tX21\tW21\tW22\t-\tV11\nLAB\tL83\tL84\tL85\tL86\tL87\tL88\tLunch\tL89\tL90\tL91\tL92\tL93\tL94\t-\n'

In [95]:
import pandas as pd
import numpy as np

timetable = """MON	THEORY	A1	F1	D1-STS3201-SS-SJT305-ALL	TB1	TG1	-	Lunch	A2-CSE1006-TH-SJT603-ALL	F2-CSE3501-ETH-SJT522-ALL	D2-CSE2006-ETH-SJT424-ALL	TB2	TG2	-	V3
LAB	L1	L2	L3	L4	L5-CSE3501-ELA-SJT418-ALL	L6-CSE3501-ELA-SJT418-ALL	Lunch	L31	L32	L33	L34	L35	L36	-
TUE	THEORY	B1	G1	E1-FRE1001-TH-SJT702-ALL	TC1	TAA1	-	Lunch	B2-CSE3001-ETH-SJT311-ALL	G2	E2	TC2	TAA2	-	V4
LAB	L7-CSE3002-ELA-SJT516-ALL	L8-CSE3002-ELA-SJT516-ALL	L9	L10	L11	L12	Lunch	L37	L38	L39	L40	L41	L42	-
WED	THEORY	C1	A1	F1	V1	V2	-	Lunch	C2-CSE3002-ETH-SJT422-ALL	A2-CSE1006-TH-SJT603-ALL	F2-CSE3501-ETH-SJT522-ALL	TD2	TBB2	-	V5
LAB	L13-CSE3001-ELA-SJT417-ALL	L14-CSE3001-ELA-SJT417-ALL	L15	L16	L17	L18	Lunch	L43	L44	L45	L46	L47	L48	-
THU	THEORY	D1-STS3201-SS-SJT305-ALL	B1	G1	TE1	TCC1	-	Lunch	D2-CSE2006-ETH-SJT424-ALL	B2-CSE3001-ETH-SJT311-ALL	G2	TE2	TCC2	-	V6
LAB	L19	L20	L21-CSE2006-ELA-SJT515-ALL	L22-CSE2006-ELA-SJT515-ALL	L23	L24	Lunch	L49	L50	L51	L52	L53	L54	-
FRI	THEORY	E1-FRE1001-TH-SJT702-ALL	C1	TA1	TF1	TD1-STS3201-SS-SJT305-ALL	-	Lunch	E2	C2-CSE3002-ETH-SJT422-ALL	TA2-CSE1006-TH-SJT603-ALL	TF2	TDD2	-	V7
LAB	L25	L26	L27	L28	L29	L30	Lunch	L55	L56	L57	L58	L59	L60	-
SAT	THEORY	V8	X11	X12	Y11	Y12	-	Lunch	X21	Z21	Y21	W21	W22	-	V9
LAB	L71	L72	L73	L74	L75	L76	Lunch	L77	L78	L79	L80	L81	L82	-
SUN	THEORY	V10	Y11	Y12	X11	X12	-	Lunch	Y21	Z21	X21	W21	W22	-	V11
LAB	L83	L84	L85	L86	L87	L88	Lunch	L89	L90	L91	L92	L93	L94	-"""

days = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"]



def get_timetable(timetable):
    print(timetable)
    timetable = timetable.splitlines()
    timetable = [x.split('\t') for x in timetable]
    timetable = pd.DataFrame(timetable)
    timetable = timetable.set_index(0)
    # timetable = timetable.T
    # timetable = timetable.dropna(axis=1, how='all')
    # timetable = timetable.dropna(axis=0, how='all')
    return timetable

In [96]:
# BBS Timetable

bbs_table = """MON	THEORY	A1-CSE1008-ETH-SJT301-UGF	F1-EEE1001-ETH-SJT301-UGF	D1-MAT1017-TH-SJT301-UGF	TB1-ENG1013-ETH-SJT301-UGF	TG1-MAT1004-TH-SJT301-UGF	-	Lunch	A2	F2	D2	TB2	TG2	-	V3
LAB	L1	L2	L3	L4	L5	L6	Lunch	L31	L32	L33-ENG1902-LO-SJTG20-UGF	L34-ENG1902-LO-SJTG20-UGF	L35	L36	-
TUE	THEORY	B1-HUM1021-TH-SJT301-UGF	G1-MAT1004-TH-SJT301-UGF	E1-PHY1005-ETH-SJT301-UGF	TC1-CHY1002-TH-SJT301-UGF	TAA1	-	Lunch	B2	G2	E2	TC2	TAA2	-	V4
LAB	L7	L8	L9	L10	L11	L12	Lunch	L37	L38	L39	L40	L41	L42	-
WED	THEORY	C1-CHY1002-TH-SJT301-UGF	A1-CSE1008-ETH-SJT301-UGF	F1-EEE1001-ETH-SJT301-UGF	V1	V2	-	Lunch	C2	A2	F2	TD2	TBB2	-	V5
LAB	L13	L14	L15	L16	L17	L18	Lunch	L43-ENG1013-ELA-SJT519-UGF	L44-ENG1013-ELA-SJT519-UGF	L45-ENG1902-LO-SJTG20-UGF	L46-ENG1902-LO-SJTG20-UGF	L47	L48	-
THU	THEORY	D1-MAT1017-TH-SJT301-UGF	B1-HUM1021-TH-SJT301-UGF	G1-MAT1004-TH-SJT301-UGF	TE1-PHY1005-ETH-SJT301-UGF	TCC1	-	Lunch	D2	B2	G2	TE2	TCC2	-	V6
LAB	L19	L20	L21	L22	L23	L24	Lunch	L49-PHY1005-ELA-TT436-UGF	L50-PHY1005-ELA-TT436-UGF	L51-EEE1001-ELA-TT045-UGF	L52-EEE1001-ELA-TT045-UGF	L53	L54	-
FRI	THEORY	E1-PHY1005-ETH-SJT301-UGF	C1-CHY1002-TH-SJT301-UGF	TA1-CSE1008-ETH-SJT301-UGF	TF1	TD1-MAT1017-TH-SJT301-UGF	-	Lunch	E2	C2	TA2	TF2	TDD2	-	V7
LAB	L25	L26	L27	L28	L29	L30	Lunch	L55	L56	L57-CSE1008-ELA-SJT317-UGF	L58-CSE1008-ELA-SJT317-UGF	L59	L60	-
SAT	THEORY	V8	X11	X12	Y11	Y12	-	Lunch	X21	Z21	Y21	W21	W22	-	V9
LAB	L71	L72	L73	L74	L75	L76	Lunch	L77	L78	L79	L80	L81	L82	-
SUN	THEORY	V10	Y11	Y12	X11	X12	-	Lunch	Y21	Z21	X21	W21	W22	-	V11
LAB	L83	L84	L85	L86	L87	L88	Lunch	L89	L90	L91	L92	L93	L94	-"""

In [97]:
time_df2 = get_timetable(bbs_table)
time_df2

MON	THEORY	A1-CSE1008-ETH-SJT301-UGF	F1-EEE1001-ETH-SJT301-UGF	D1-MAT1017-TH-SJT301-UGF	TB1-ENG1013-ETH-SJT301-UGF	TG1-MAT1004-TH-SJT301-UGF	-	Lunch	A2	F2	D2	TB2	TG2	-	V3
LAB	L1	L2	L3	L4	L5	L6	Lunch	L31	L32	L33-ENG1902-LO-SJTG20-UGF	L34-ENG1902-LO-SJTG20-UGF	L35	L36	-
TUE	THEORY	B1-HUM1021-TH-SJT301-UGF	G1-MAT1004-TH-SJT301-UGF	E1-PHY1005-ETH-SJT301-UGF	TC1-CHY1002-TH-SJT301-UGF	TAA1	-	Lunch	B2	G2	E2	TC2	TAA2	-	V4
LAB	L7	L8	L9	L10	L11	L12	Lunch	L37	L38	L39	L40	L41	L42	-
WED	THEORY	C1-CHY1002-TH-SJT301-UGF	A1-CSE1008-ETH-SJT301-UGF	F1-EEE1001-ETH-SJT301-UGF	V1	V2	-	Lunch	C2	A2	F2	TD2	TBB2	-	V5
LAB	L13	L14	L15	L16	L17	L18	Lunch	L43-ENG1013-ELA-SJT519-UGF	L44-ENG1013-ELA-SJT519-UGF	L45-ENG1902-LO-SJTG20-UGF	L46-ENG1902-LO-SJTG20-UGF	L47	L48	-
THU	THEORY	D1-MAT1017-TH-SJT301-UGF	B1-HUM1021-TH-SJT301-UGF	G1-MAT1004-TH-SJT301-UGF	TE1-PHY1005-ETH-SJT301-UGF	TCC1	-	Lunch	D2	B2	G2	TE2	TCC2	-	V6
LAB	L19	L20	L21	L22	L23	L24	Lunch	L49-PHY1005-ELA-TT436-UGF	L50-PHY1005-ELA-TT436-UGF	L51-EEE1001-ELA-TT045-UGF	L52-EEE1001-ELA-TT045-UGF	L53	L54	-
FRI	THEORY	E1-PHY1005-ETH-SJT301-UGF	C1-CHY1002-TH-SJT301-UGF	TA1-CSE1008-ETH-SJT301-UGF	TF1	TD1-MAT1017-TH-SJT301-UGF	-	Lunch	E2	C2	TA2	TF2	TDD2	-	V7
LAB	L25	L26	L27	L28	L29	L30	Lunch	L55	L56	L57-CSE1008-ELA-SJT317-UGF	L58-CSE1008-ELA-SJT317-UGF	L59	L60	-
SAT	THEORY	V8	X11	X12	Y11	Y12	-	Lunch	X21	Z21	Y21	W21	W22	-	V9
LAB	L71	L72	L73	L74	L75	L76	Lunch	L77	L78	L79	L80	L81	L82	-
SUN	THEORY	V10	Y11	Y12	X11	X12	-	Lunch	Y21	Z21	X21	W21	W22	-	V11
LAB	L83	L84	L85	L86	L87	L88	Lunch	L89	L90	L91	L92	L93	L94	-

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,,,,,,,,,,,,,,,
MON,THEORY,A1-CSE1008-ETH-SJT301-UGF,F1-EEE1001-ETH-SJT301-UGF,D1-MAT1017-TH-SJT301-UGF,TB1-ENG1013-ETH-SJT301-UGF,TG1-MAT1004-TH-SJT301-UGF,-,Lunch,A2,F2,D2,TB2,TG2,-,V3
LAB,L1,L2,L3,L4,L5,L6,Lunch,L31,L32,L33-ENG1902-LO-SJTG20-UGF,L34-ENG1902-LO-SJTG20-UGF,L35,L36,-,None
TUE,THEORY,B1-HUM1021-TH-SJT301-UGF,G1-MAT1004-TH-SJT301-UGF,E1-PHY1005-ETH-SJT301-UGF,TC1-CHY1002-TH-SJT301-UGF,TAA1,-,Lunch,B2,G2,E2,TC2,TAA2,-,V4
LAB,L7,L8,L9,L10,L11,L12,Lunch,L37,L38,L39,L40,L41,L42,-,None
WED,THEORY,C1-CHY1002-TH-SJT301-UGF,A1-CSE1008-ETH-SJT301-UGF,F1-EEE1001-ETH-SJT301-UGF,V1,V2,-,Lunch,C2,A2,F2,TD2,TBB2,-,V5
LAB,L13,L14,L15,L16,L17,L18,Lunch,L43-ENG1013-ELA-SJT519-UGF,L44-ENG1013-ELA-SJT519-UGF,L45-ENG1902-LO-SJTG20-UGF,L46-ENG1902-LO-SJTG20-UGF,L47,L48,-,None
THU,THEORY,D1-MAT1017-TH-SJT301-UGF,B1-HUM1021-TH-SJT301-UGF,G1-MAT1004-TH-SJT301-UGF,TE1-PHY1005-ETH-SJT301-UGF,TCC1,-,Lunch,D2,B2,G2,TE2,TCC2,-,V6
LAB,L19,L20,L21,L22,L23,L24,Lunch,L49-PHY1005-ELA-TT436-UGF,L50-PHY1005-ELA-TT436-UGF,L51-EEE1001-ELA-TT045-UGF,L52-EEE1001-ELA-TT045-UGF,L53,L54,-,None
FRI,THEORY,E1-PHY1005-ETH-SJT301-UGF,C1-CHY1002-TH-SJT301-UGF,TA1-CSE1008-ETH-SJT301-UGF,TF1,TD1-MAT1017-TH-SJT301-UGF,-,Lunch,E2,C2,TA2,TF2,TDD2,-,V7
LAB,L25,L26,L27,L28,L29,L30,Lunch,L55,L56,L57-CSE1008-ELA-SJT317-UGF,L58-CSE1008-ELA-SJT317-UGF,L59,L60,-,None
SAT,THEORY,V8,X11,X12,Y11,Y12,-,Lunch,X21,Z21,Y21,W21,W22,-,V9
LAB,L71,L72,L73,L74,L75,L76,Lunch,L77,L78,L79,L80,L81,L82,-,None
SUN,THEORY,V10,Y11,Y12,X11,X12,-,Lunch,Y21,Z21,X21,W21,W22,-,V11
LAB,L83,L84,L85,L86,L87,L88,Lunch,L89,L90,L91,L92,L93,L94,-,None

In [98]:
time_df = get_timetable(timetable)
time_df

MON	THEORY	A1	F1	D1-STS3201-SS-SJT305-ALL	TB1	TG1	-	Lunch	A2-CSE1006-TH-SJT603-ALL	F2-CSE3501-ETH-SJT522-ALL	D2-CSE2006-ETH-SJT424-ALL	TB2	TG2	-	V3
LAB	L1	L2	L3	L4	L5-CSE3501-ELA-SJT418-ALL	L6-CSE3501-ELA-SJT418-ALL	Lunch	L31	L32	L33	L34	L35	L36	-
TUE	THEORY	B1	G1	E1-FRE1001-TH-SJT702-ALL	TC1	TAA1	-	Lunch	B2-CSE3001-ETH-SJT311-ALL	G2	E2	TC2	TAA2	-	V4
LAB	L7-CSE3002-ELA-SJT516-ALL	L8-CSE3002-ELA-SJT516-ALL	L9	L10	L11	L12	Lunch	L37	L38	L39	L40	L41	L42	-
WED	THEORY	C1	A1	F1	V1	V2	-	Lunch	C2-CSE3002-ETH-SJT422-ALL	A2-CSE1006-TH-SJT603-ALL	F2-CSE3501-ETH-SJT522-ALL	TD2	TBB2	-	V5
LAB	L13-CSE3001-ELA-SJT417-ALL	L14-CSE3001-ELA-SJT417-ALL	L15	L16	L17	L18	Lunch	L43	L44	L45	L46	L47	L48	-
THU	THEORY	D1-STS3201-SS-SJT305-ALL	B1	G1	TE1	TCC1	-	Lunch	D2-CSE2006-ETH-SJT424-ALL	B2-CSE3001-ETH-SJT311-ALL	G2	TE2	TCC2	-	V6
LAB	L19	L20	L21-CSE2006-ELA-SJT515-ALL	L22-CSE2006-ELA-SJT515-ALL	L23	L24	Lunch	L49	L50	L51	L52	L53	L54	-
FRI	THEORY	E1-FRE1001-TH-SJT702-ALL	C1	TA1	TF1	TD1-STS3201-SS-SJT305-ALL	-	Lunch	E2	C2-CSE3002-ETH-SJT422-ALL	TA2-CSE1006-TH-SJT603-ALL	TF2	TDD2	-	V7
LAB	L25	L26	L27	L28	L29	L30	Lunch	L55	L56	L57	L58	L59	L60	-
SAT	THEORY	V8	X11	X12	Y11	Y12	-	Lunch	X21	Z21	Y21	W21	W22	-	V9
LAB	L71	L72	L73	L74	L75	L76	Lunch	L77	L78	L79	L80	L81	L82	-
SUN	THEORY	V10	Y11	Y12	X11	X12	-	Lunch	Y21	Z21	X21	W21	W22	-	V11
LAB	L83	L84	L85	L86	L87	L88	Lunch	L89	L90	L91	L92	L93	L94	-

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,,,,,,,,,,,,,,,
MON,THEORY,A1,F1,D1-STS3201-SS-SJT305-ALL,TB1,TG1,-,Lunch,A2-CSE1006-TH-SJT603-ALL,F2-CSE3501-ETH-SJT522-ALL,D2-CSE2006-ETH-SJT424-ALL,TB2,TG2,-,V3
LAB,L1,L2,L3,L4,L5-CSE3501-ELA-SJT418-ALL,L6-CSE3501-ELA-SJT418-ALL,Lunch,L31,L32,L33,L34,L35,L36,-,None
TUE,THEORY,B1,G1,E1-FRE1001-TH-SJT702-ALL,TC1,TAA1,-,Lunch,B2-CSE3001-ETH-SJT311-ALL,G2,E2,TC2,TAA2,-,V4
LAB,L7-CSE3002-ELA-SJT516-ALL,L8-CSE3002-ELA-SJT516-ALL,L9,L10,L11,L12,Lunch,L37,L38,L39,L40,L41,L42,-,None
WED,THEORY,C1,A1,F1,V1,V2,-,Lunch,C2-CSE3002-ETH-SJT422-ALL,A2-CSE1006-TH-SJT603-ALL,F2-CSE3501-ETH-SJT522-ALL,TD2,TBB2,-,V5
LAB,L13-CSE3001-ELA-SJT417-ALL,L14-CSE3001-ELA-SJT417-ALL,L15,L16,L17,L18,Lunch,L43,L44,L45,L46,L47,L48,-,None
THU,THEORY,D1-STS3201-SS-SJT305-ALL,B1,G1,TE1,TCC1,-,Lunch,D2-CSE2006-ETH-SJT424-ALL,B2-CSE3001-ETH-SJT311-ALL,G2,TE2,TCC2,-,V6
LAB,L19,L20,L21-CSE2006-ELA-SJT515-ALL,L22-CSE2006-ELA-SJT515-ALL,L23,L24,Lunch,L49,L50,L51,L52,L53,L54,-,None
FRI,THEORY,E1-FRE1001-TH-SJT702-ALL,C1,TA1,TF1,TD1-STS3201-SS-SJT305-ALL,-,Lunch,E2,C2-CSE3002-ETH-SJT422-ALL,TA2-CSE1006-TH-SJT603-ALL,TF2,TDD2,-,V7
LAB,L25,L26,L27,L28,L29,L30,Lunch,L55,L56,L57,L58,L59,L60,-,None
SAT,THEORY,V8,X11,X12,Y11,Y12,-,Lunch,X21,Z21,Y21,W21,W22,-,V9
LAB,L71,L72,L73,L74,L75,L76,Lunch,L77,L78,L79,L80,L81,L82,-,None
SUN,THEORY,V10,Y11,Y12,X11,X12,-,Lunch,Y21,Z21,X21,W21,W22,-,V11
LAB,L83,L84,L85,L86,L87,L88,Lunch,L89,L90,L91,L92,L93,L94,-,None

In [99]:
# for alternate rows in time_df append to list th
def get_theory_slots(time_df):
    theory_slots = []
    for i in range(0, len(time_df), 2):
        theory_slots.append(time_df.iloc[i])

    theory_df = pd.concat(theory_slots, axis=1)
    #drop the first row
    # theory_df = theory_df.drop(theory_df.index[0])
    
    return theory_df.T

theory = get_theory_slots(time_df2)
    
theory

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
MON,THEORY,A1-CSE1008-ETH-SJT301-UGF,F1-EEE1001-ETH-SJT301-UGF,D1-MAT1017-TH-SJT301-UGF,TB1-ENG1013-ETH-SJT301-UGF,TG1-MAT1004-TH-SJT301-UGF,-,Lunch,A2,F2,D2,TB2,TG2,-,V3
TUE,THEORY,B1-HUM1021-TH-SJT301-UGF,G1-MAT1004-TH-SJT301-UGF,E1-PHY1005-ETH-SJT301-UGF,TC1-CHY1002-TH-SJT301-UGF,TAA1,-,Lunch,B2,G2,E2,TC2,TAA2,-,V4
WED,THEORY,C1-CHY1002-TH-SJT301-UGF,A1-CSE1008-ETH-SJT301-UGF,F1-EEE1001-ETH-SJT301-UGF,V1,V2,-,Lunch,C2,A2,F2,TD2,TBB2,-,V5
THU,THEORY,D1-MAT1017-TH-SJT301-UGF,B1-HUM1021-TH-SJT301-UGF,G1-MAT1004-TH-SJT301-UGF,TE1-PHY1005-ETH-SJT301-UGF,TCC1,-,Lunch,D2,B2,G2,TE2,TCC2,-,V6
FRI,THEORY,E1-PHY1005-ETH-SJT301-UGF,C1-CHY1002-TH-SJT301-UGF,TA1-CSE1008-ETH-SJT301-UGF,TF1,TD1-MAT1017-TH-SJT301-UGF,-,Lunch,E2,C2,TA2,TF2,TDD2,-,V7
SAT,THEORY,V8,X11,X12,Y11,Y12,-,Lunch,X21,Z21,Y21,W21,W22,-,V9
SUN,THEORY,V10,Y11,Y12,X11,X12,-,Lunch,Y21,Z21,X21,W21,W22,-,V11

In [100]:
def get_lab_slots(time_df):
    lab_slots = []
    for i in range(1, len(time_df), 2):
        lab_slots.append(time_df.iloc[i])

    lab_df = pd.concat(lab_slots, axis=1)

    return lab_df.T
lb = get_lab_slots(time_df2)
lb

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
LAB,L1,L2,L3,L4,L5,L6,Lunch,L31,L32,L33-ENG1902-LO-SJTG20-UGF,L34-ENG1902-LO-SJTG20-UGF,L35,L36,-,None
LAB,L7,L8,L9,L10,L11,L12,Lunch,L37,L38,L39,L40,L41,L42,-,None
LAB,L13,L14,L15,L16,L17,L18,Lunch,L43-ENG1013-ELA-SJT519-UGF,L44-ENG1013-ELA-SJT519-UGF,L45-ENG1902-LO-SJTG20-UGF,L46-ENG1902-LO-SJTG20-UGF,L47,L48,-,None
LAB,L19,L20,L21,L22,L23,L24,Lunch,L49-PHY1005-ELA-TT436-UGF,L50-PHY1005-ELA-TT436-UGF,L51-EEE1001-ELA-TT045-UGF,L52-EEE1001-ELA-TT045-UGF,L53,L54,-,None
LAB,L25,L26,L27,L28,L29,L30,Lunch,L55,L56,L57-CSE1008-ELA-SJT317-UGF,L58-CSE1008-ELA-SJT317-UGF,L59,L60,-,None
LAB,L71,L72,L73,L74,L75,L76,Lunch,L77,L78,L79,L80,L81,L82,-,None
LAB,L83,L84,L85,L86,L87,L88,Lunch,L89,L90,L91,L92,L93,L94,-,None

In [101]:
# Mark all cell which have more than 3 characters as 1

def mark_theory_slots(th):
    th = th.replace(np.nan, '', regex=True)
    th = th.applymap(lambda x: 1 if len(x) > 4 else 0)
    return th

theory = mark_theory_slots(theory)
lb = mark_theory_slots(lb)
theory

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
MON   1   1   1   1   1   1   0   1   0   0   0   0   0   0   0
TUE   1   1   1   1   1   0   0   1   0   0   0   0   0   0   0
WED   1   1   1   1   0   0   0   1   0   0   0   0   0   0   0
THU   1   1   1   1   1   0   0   1   0   0   0   0   0   0   0
FRI   1   1   1   1   0   1   0   1   0   0   0   0   0   0   0
SAT   1   0   0   0   0   0   0   1   0   0   0   0   0   0   0
SUN   1   0   0   0   0   0   0   1   0   0   0   0   0   0   0

In [102]:
theory

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
MON   1   1   1   1   1   1   0   1   0   0   0   0   0   0   0
TUE   1   1   1   1   1   0   0   1   0   0   0   0   0   0   0
WED   1   1   1   1   0   0   0   1   0   0   0   0   0   0   0
THU   1   1   1   1   1   0   0   1   0   0   0   0   0   0   0
FRI   1   1   1   1   0   1   0   1   0   0   0   0   0   0   0
SAT   1   0   0   0   0   0   0   1   0   0   0   0   0   0   0
SUN   1   0   0   0   0   0   0   1   0   0   0   0   0   0   0

In [103]:
# Remove column with name=='1'
def remove_th_empty_columns(th):
    th = th.drop(columns=[1])
    th = th.drop(columns=[8])
    th = th.drop(columns=[14])
    return th

def remove_lb_empty_columns(th):
    th = th.drop(columns=[7])
    th = th.drop(columns=[14])
    th = th.drop(columns=[15])
    return th

theory = remove_th_empty_columns(theory)
theory

     2   3   4   5   6   7   9   10  11  12  13  15
MON   1   1   1   1   1   0   0   0   0   0   0   0
TUE   1   1   1   1   0   0   0   0   0   0   0   0
WED   1   1   1   0   0   0   0   0   0   0   0   0
THU   1   1   1   1   0   0   0   0   0   0   0   0
FRI   1   1   1   0   1   0   0   0   0   0   0   0
SAT   0   0   0   0   0   0   0   0   0   0   0   0
SUN   0   0   0   0   0   0   0   0   0   0   0   0

In [104]:
# rename th columns to days
theory.columns = ['8-9', '9-10', '10-11', '11-12', '12-1', '1-2', '2-3', '3-4', '4-5', '5-6', '6-7', '7-8']
theory

     8-9  9-10  10-11  11-12  12-1  1-2  2-3  3-4  4-5  5-6  6-7  7-8
MON    1     1      1      1     1    0    0    0    0    0    0    0
TUE    1     1      1      1     0    0    0    0    0    0    0    0
WED    1     1      1      0     0    0    0    0    0    0    0    0
THU    1     1      1      1     0    0    0    0    0    0    0    0
FRI    1     1      1      0     1    0    0    0    0    0    0    0
SAT    0     0      0      0     0    0    0    0    0    0    0    0
SUN    0     0      0      0     0    0    0    0    0    0    0    0

In [105]:
theory_template = {
    '8-9': [0, 5],
    '9-10': [6, 11],
    '10-11': [12, 17],
    '11-12': [18, 23],
    '12-1': [24, 29],
    '1-2': [30, 35],
    '2-3': [36, 41],
    '3-4': [42, 47],
    '4-5': [48, 53],
    '5-6': [54, 59],
    '6-7': [60, 65],
    '7-8': [66, 71]
}

In [106]:
# create a 7x72 matrix with 0s
def create_lab_matrix():
    lab_matrix = np.zeros((7, 72))
    return lab_matrix

lab1 = create_lab_matrix()
lab1

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.]])

In [107]:
# convert lab1 to df
lab1 = pd.DataFrame(lab1)
lab1

# 5 = 8:50 - 9:00
# 11 = 9:50 - 10:00
# 17 = 10:50 - 11:00
# 23 = 11:50 - 12:00
# 29 = 12:50 - 1:00
# 35 = 1:50 - 2:00
# 41 = 2:50 - 3:00
# 47 = 3:50 - 4:00
# 53 = 4:50 - 5:00
# 59 = 5:50 - 6:00
# 65 = 6:50 - 7:00
# 71 = 7:50 - 8:00

# 0 = 8:00 - 8:10
# 6 = 9:00 - 9:10
# 12 = 10:00 - 10:10
# 18 = 11:00 - 11:10
# 24 = 12:00 - 12:10
# 30 = 1:00 - 1:10
# 36 = 2:00 - 2:10
# 42 = 3:00 - 3:10
# 48 = 4:00 - 4:10
# 54 = 5:00 - 5:10
# 60 = 6:00 - 6:10
# 66 = 7:00 - 7:10

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
lab_template = {
    1: [0, 9],
    2: [0, 9],
    3: [11, 20],
    4: [11, 20],
    5: [22, 31],
    6: [22, 31],
    7: [36, 45],
    8: [36, 45],
    9: [47, 56],
    10: [47, 56],
    11: [58, 67],
    12: [58, 67],
}

In [109]:
lb = remove_lb_empty_columns(lb)
lb

     1   2   3   4   5   6   8   9   10  11  12  13
LAB   0   0   0   0   0   0   0   0   1   1   0   0
LAB   0   0   0   0   0   0   0   0   0   0   0   0
LAB   0   0   0   0   0   0   1   1   1   1   0   0
LAB   0   0   0   0   0   0   1   1   1   1   0   0
LAB   0   0   0   0   0   0   0   0   1   1   0   0
LAB   0   0   0   0   0   0   0   0   0   0   0   0
LAB   0   0   0   0   0   0   0   0   0   0   0   0

In [110]:
lb.columns = [1,2,3,4,5,6,7,8,9,10,11,12]
lb

     1   2   3   4   5   6   7   8   9   10  11  12
LAB   0   0   0   0   0   0   0   0   1   1   0   0
LAB   0   0   0   0   0   0   0   0   0   0   0   0
LAB   0   0   0   0   0   0   1   1   1   1   0   0
LAB   0   0   0   0   0   0   1   1   1   1   0   0
LAB   0   0   0   0   0   0   0   0   1   1   0   0
LAB   0   0   0   0   0   0   0   0   0   0   0   0
LAB   0   0   0   0   0   0   0   0   0   0   0   0

In [111]:
lb.shape

(7, 12)

In [112]:
# For 1 in lb, mark 1 in lab1 based on lab_template
def mark_lab_slots(lb, lab1, lab_template):
    for i in range(lb.shape[0]):
        for j in range(lb.shape[1]):
            if lb.iloc[i, j] == 1:
                print(i,j)
                lab1.iloc[i,lab_template[j+1][0]:lab_template[j+1][1]] = 1
    
    return lab1

lab1 = mark_lab_slots(lb, lab1, lab_template)
lab1

0 8
0 9
2 6
2 7
2 8
2 9
3 6
3 7
3 8
3 9
4 8
4 9

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
# Create a empty 2d matrix of size 7x72
def create_empty_matrix():
    matrix = np.zeros((7, 72))
    return matrix

matrix = create_empty_matrix()
matrix

# Convert matrix to df
def convert_matrix_to_df(matrix):
    matrix = pd.DataFrame(matrix)

    return matrix

matrix = convert_matrix_to_df(matrix)
matrix

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [114]:
# Create 6x12x7 matrix
def create_6x12x7_matrix():
    matrix = np.zeros((6, 12, 7))
    return matrix

matrix = create_6x12x7_matrix()
matrix

array([[[0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.]]])

In [115]:
# for each row in th, if value is 1, then mark the corresponding row in matrix as 1
def mark_theory_slots_in_matrix(th, matrix):
    for i in range(len(th)):
        for j in range(len(th.columns)):
            if th.iloc[i, j] == 1:
                matrix[i, j, :] = 1
    return matrix

matrix = mark_theory_slots_in_matrix(th, matrix)
matrix

# If the row is 1 in matrix, then mark the last cell of the row as 0
def mark_0_in_last_cell(matrix):
    for i in range(len(matrix)):
        for j in range(len(matrix[0])):
            if matrix[i, j, 0] == 1:
                matrix[i, j, 6] = 0
    return matrix

matrix = mark_0_in_last_cell(matrix)
matrix

IndexError: index 12 is out of bounds for axis 1 with size 12

In [116]:
# reshape matrix to 7x72
def reshape_matrix(matrix):
    matrix = matrix.reshape(7, 72)
    return matrix

matrix = reshape_matrix(matrix)
matrix

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.]])

In [117]:
# convert matrix to df
matrix = convert_matrix_to_df(matrix)
matrix

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
lab1

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [119]:
final_tt = lab1 + matrix
final_tt

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [121]:
final_tt.to_csv('final_tt.csv')

In [122]:
# Change row names to days
def change_row_names(th):
    for i in range(len(th)):
        th = th.rename(index={i: days[i]})
    return th

lb = change_row_names(lb)
lb

     1   2   3   4   5   6   7   8   9   10  11  12
LAB   0   0   0   0   0   0   0   0   1   1   0   0
LAB   0   0   0   0   0   0   0   0   0   0   0   0
LAB   0   0   0   0   0   0   1   1   1   1   0   0
LAB   0   0   0   0   0   0   1   1   1   1   0   0
LAB   0   0   0   0   0   0   0   0   1   1   0   0
LAB   0   0   0   0   0   0   0   0   0   0   0   0
LAB   0   0   0   0   0   0   0   0   0   0   0   0

In [123]:
lab_template = {
    1: [0, 9],
    2: [0, 9],
    3: [11, 20],
    4: [11, 20],
    5: [22, 31],
    6: [22, 31],
    7: [36, 45],
    8: [36, 45],
    9: [47, 56],
    10: [47, 56],
    11: [58, 67],
    12: [58, 67],
}

In [124]:
th = create_empty_matrix()
th = pd.DataFrame(th)
th

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [125]:
theory.columns = [1,2,3,4,5,6,7,8,9,10,11,12]

In [126]:
theory_template = {
    1: [0, 5],
    2: [6, 11],
    3: [12, 17],
    4: [18, 23],
    5: [24, 29],
    6: [30, 35],
    7: [36, 41],
    8: [42, 47],
    9: [48, 53],
    10: [54, 59],
    11: [60, 65],
    12: [66, 71]
}

In [127]:
th = mark_lab_slots(theory, th, theory_template)
th

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
2 0
2 1
2 2
3 0
3 1
3 2
3 3
4 0
4 1
4 2
4 4

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [128]:
(th + lab1).to_csv('final_tt.csv')